*{
	margin: 0;
	padding:0;
}


		nav{
			text-align: right;
			height: 70px;
			line-height: 70px;
			background-color:skyblue;
			z-index: 99;
			color:black;
            
		

		}


/*.wrappr{
	border: solid black;
}*/
#ic{
float: left;
margin-right: 1000px;
top:-600px;
}

.navigation{
	float: right;
	margin-right: 25px;
	background-color: skyblue;
	
}
.navigation a{
	text-decoration: none;
	font-size: 20px;
	justify-content: space-around;
	justify-content: space-between;
	right: 200px;
	margin-top: 230px;
}
.navigation a:hover{
background-color: black;
}

.menu{
	height: 400px;
	width: 45%;
	background-color:white;
	float: left;

}



/*.right::after{
	content: "";
	display: table;
	clear: both;
}*/
#text {
		height: 200px;
	width: 53%;

	float: right;
}
.pic{
	justify-content: space-between;
}
footer{
	display: flex;
	float: right;
	justify-content: space-between;
    height: 220px;
	background-color: gray;
	width: 100%;
	flex-direction : row;
	
}
